/* Background pattern from Toptal Subtle Patterns */
body{
    background-image: url(../images/ep_naturalblack/ep_naturalblack.png);
    background-color: black;
    font-family: 'Turret Road', cursive;
}

.navbar{
    font-family: 'Montserrat', sans-serif;
}

#backButton{
    font-size: 1.8em;
    color: rgb(159, 143, 245);
}

#mainContent{
    margin-top: 6em;
}

#closePopUp{
    font-size: 1.5em;
    color: rgb(159, 143, 245);
    position: absolute;
    top:.2rem;
    right:.2rem;
}

#closePopUp:hover, #closePopUp:active{
    cursor: pointer;
    color: rgb(255, 255, 255);
}

#idPopUpDarken{
    position:fixed;
    top:0;
    margin:0;
    width: 99.99%;
    height: 99.99%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1040;
    display:none;
}

#idCard{
    margin:auto;
}

#idCardImage{
    width: inherit;
}

.cardStyle{
    background-color: rgb(49, 45, 70);
    margin:0;
}

#darkNav{
    background-color: rgb(37, 21, 46);
}

#nameShort{
    display: none;
}

@media (max-width: 767px){
    #nameLong{
        display: none;
    }

    #nameShort{
        display: inline;
    }
}