/* Background pattern from Toptal Subtle Patterns */
body{
    background-image: url(../images/ep_naturalblack/ep_naturalblack.png);
    background-color: black;
    font-family: 'Turret Road', cursive;
}

.navbar{
    font-family: 'Montserrat', sans-serif;
}

#backButton{
    font-size: 1.5em;
    color: rgb(159, 143, 245);
}

#mainContent{
    margin-top: 6em;
}

#idCard{
    display: none;
}

#idCardImage{
    width: inherit;
}

.cardStyle{
    background-color: rgb(49, 45, 70);
}

#darkNav{
    background-color: rgb(37, 21, 46);
}

#nameShort{
    display: none;
}

@media (max-width: 767px){
    #nameLong{
        display: none;
    }

    #nameShort{
        display: inline;
    }
}